@page "/index2"
@inject Models.EmployeeContext DBContext

@using FirstBlazorApp.Models


@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@*@inject IJSRuntime JSRuntime*@
@*<h1>Local Storage!</h1>

    <input class="form-control" @bind="currentInputValue" />
    <button class="btn btn-secondary" @onclick="Save">Save</button>
    <button class="btn btn-secondary" @onclick="Read">Read</button>
    <button class="btn btn-secondary" @onclick="Delete">Delete</button>
    <h1>Hello, Bassam</h1>
    test deploy   id test*@
<p>
    <a href="addemp">Create New Employee..</a>
</p>    @if (survey_profile_list != null)
{
    <div class="row">
        <div class="col-md-12">
     <table class="table-bordered">
        <thead>
            <tr>
                    <th>HC</th>
                    <th>survey_year</th>
                    <th>survey_no</th>
                    <th>AGRI</th>
                    <th>AGRI_NO</th>
                    <th>MBNO</th>
                    <th>MB</th>
                    <th>MM</th>
                    <th>TMP</th>
                    <th>AMP</th>
                    <th>JUN</th>
                    <th>POSTCODE</th>
                    <th>PERSON</th>
                    <th>popid</th>
                    <th>PREFIX</th>
                    <th>TEL</th>
                    <th>HHM</th>
                    <th>PP</th>
                    <th>PPP</th> 
            </tr>
        </thead>
        <tbody>
            <Virtualize Context="survey_profile" Items="@survey_profile_list">
                <tr>
                    <td>@survey_profile.HC</td>
                    <td>@survey_profile.survey_year</td>
                    <td>@survey_profile.survey_no</td>
                    <td>@survey_profile.AGRI</td>
                    <td>@survey_profile.AGRI_NO</td>
                    <td>@survey_profile.MBNO</td>
                    <td>@survey_profile.MB</td>
                    <td>@survey_profile.MM</td>
                    <td>@survey_profile.TMP</td>
                    <td>@survey_profile.AMP</td>
                    <td>@survey_profile.JUN</td>
                    <td>@survey_profile.POSTCODE</td>
                    <td>@survey_profile.PERSON</td>
                    <td>@survey_profile.popid</td>
                    <td>@survey_profile.PREFIX</td>
                    <td>@survey_profile.TEL</td>
                    <td>@survey_profile.HHM</td>
                    <td>@survey_profile.PP</td>
                    <td>@survey_profile.PPP</td> 
                
                    <td>
                        <input type="button" class="btn btn-danger" @onclick="@(e => DeleteSurvey_profile(survey_profile.HC))" value="Delete" />
                        <a href='editemployee/@survey_profile.HC' class="btn btn-block">Edit</a>
                    </td>

                </tr>
            </Virtualize>
        </tbody>
    </table>
    </div>
    </div>
    }
@if (employees != null)
{
    <table class="table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>E-mail</th>
                <th>Mobile number</th>
                <th>Server update</th>
                <th>Local update</th>
                <th>User</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Context="employee" Items="@employees">
                <tr>
                    <td>@employee.Id</td>
                    <td>@employee.Fullname</td>
                    <td>@employee.Email</td>
                    <td>@employee.MobileNumber</td>
                    <td>@employee.ServerUpdate</td>
                    <td>@employee.localUpdate</td>
                    <td>@employee.User</td>
                    <td>
                        <input type="button" class="btn btn-danger" @onclick="@(e => DeleteEmployee(employee.Id))" value="Delete" />
                        <a href='editemployee/@employee.Id' class="btn btn-block">Edit</a>
                    </td>

                </tr>
            </Virtualize>
        </tbody>
    </table>
}
@code{
   
}