@page "/surveypageone"
@page "/surveypageone/{HC}"

@inject Models.EmployeeContext DBContext
@inject Models.EmployeeContext DBContext
@inject NavigationManager UriHelper
@using FirstBlazorApp.Models
@using System.ComponentModel.DataAnnotations
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
<EditForm Model="@recordSurveyProfile" OnValidSubmit="@HandleValidSubmit" >
<input type='hidden' name='next' value='1'>

		<br>
		<div class="row" style='border-style: dotted;border-width: 1px'>
			<div class="col-lg-12">
				<label><b>ข้อมูลพื้นฐานครัวเรือน (หน้าที่ 1/20)</b></label>
			</div>
		</div>

		<br>
		<div class="row" style='border-style: dotted;border-width: 1px'>
			<div class="col-lg-12  mb-3">
				<label for="HC">รหัสบ้าน </label>
				<input type='text' id="HC" name='HC'onkeyup="autoTab(this,3)" onkeypress="autoTab(this,3)" maxlength='13' @bind-value="@recordSurveyProfile.HC" placeholder="ที่ระบุในทะเบียนบ้าน ขอดูทะเบียนบ้าน"  required >
				<!--<input type='text' id="HC" name='HC' placeholder="ที่ระบุในทะเบียนบ้าน ขอดูทะเบียนบ้าน" onkeyup="autoTab(this,3)" onkeypress="autoTab(this,3)" maxlength='13' onblur="HC_out(this.form)" value='<?php echo$_SESSION['HC']?>' class="form-control" required >-->
				<label>กรณีไม่สามารถจะขอดูทะเบียนบ้านได้ ให้สร้างรหัสเองได้ โดยใส่ 0 หน้าเลขรหัสจังหวัด 2 หลัก รหัสแบบสอบถาม  8 หลัก  รวมเป็น 11 หลัก</label><br>
<!--				แล้วตามด้วยการสร้างโคดกันเองแยกเป็นตำบลหรือเลขที่บ้านกันเองได้ โดยไม่ให้มันซ้ำซ้อนกันครับ หรืออาจจะเป็น 0XY แล้วตามด้วยรหัสแบบสอบถามก็ได้นะครับ รหัสแบบสอบถาม 8 หลัก รวมเป็น 11 หลักครับ โดย 0 ตัวหน้าแปลว่า ไม่สามารถป้อนรหัสบ้านได้-->
				<label>เช่น มุกดาหาร <font color='red'>0</font><font color='green'>49</font><font color='blue'>00000001</font></label><br>
				<label>เช่น ปัตตานี <font color='red'>0</font><font color='green'>94</font><font color='blue'>00000001</font></label><br>
				<label><a onclick='document.survey.JUN.focus()' style='color:blue;cursor:pointer' >ดูรหัสจังหวัด</a></label><br>
				<label><font color='red'>หมายเหตุ : เลขรหัสบ้านห้ามซ้ำกันในฐานข้อมูล</font>)</label><br>
				<!--label>กรณีไม่มีรหัสบ้าน ให้กรอกดังนี้ <font color='green'>0940-1</font> ตามด้วยบ้านเลขที่ 6 หลัก (ข้างหน้า 3 หลัก ข้างหลัง 3 หลัก)</label><br>
				<label>เช่น บ้านเลขที่ <font color='blue'>3</font>/<font color='red'>16</font> กรอกดังนี้<font color='green'>0940-1</font><font color='blue'>003</font><font color='red'>01-6</font></label><br>
				<label>เช่น บ้านเลขที่ <font color='blue'>17</font> กรอกดังนี้<font color='green'>0940-1</font><font color='blue'>017</font><font color='red'>00-0</font></label><br-->
			</div>
		</div>

		<br>
		<div class="row" style='border-style: dotted;border-width: 1px'>
			<div class="col-lg-12  mb-3">
				<label>หมายเลขครัวเรือนเกษตรกร (สมุดเขียว) </label>
				<input type='button' value='reset' 
					onclick="
						document.getElementById('AGRI_NO1').checked=false;
						document.getElementById('AGRI_NO2').checked=false;
				">
					  <MatRadioGroup @bind-Value="@recordSurveyProfile.AGRI" TValue="string">
			  <div class="custom-control custom-radio">
			
					<MatRadioButton Value="@("0")" Label="ไม่มี" TValue="string"></MatRadioButton>
					</div>
			  <div class="custom-control custom-radio">
					<MatRadioButton Value="@("1")" Label="มี" TValue="string"></MatRadioButton>
					<input type='text' name='AGRI_NO'  @bind-value="@recordSurveyProfile.AGRI_NO" placeholder='หมายเลขครัวเรือนเกษตรกร' class="form-control">
				</div>
				</MatRadioGroup>
			</div>
		</div>

		<br>
		<div class="row" style='border-style: dotted;border-width: 1px'>
			<div class="col-lg-12  mb-3">
				<label for="state">จังหวัด<a href='index.php?curr=edit'>เปลี่ยนจังหวัดเริ่มต้น</a></label>
				   <MatSelect Label="จังหวัด" @bind-Value="@SelectProvinceId" TValue="string"Outlined="true" FullWidth>

		@foreach(var item in provinces1)
	{
	
		<MatOption TValue="string" Value="@item.province_id">@item.province_name_thai</MatOption>
	}
	
	
</MatSelect>
				<div class="invalid-feedback">
					กรุณาเลือกตำบล
				</div>
			</div>


			<div class="col-lg-12  mb-3">
				<label for="country">อำเภอ</label>
				<MatSelect Label="เลือกอำเภอ"  @bind-Value="@SelectDistrictId" TValue="string"  Outlined="true" FullWidth>
	   
	  
	
		@foreach(var item in districts)
	{ if(item.district_id==recordSurveyProfile.AMP){
		districtId=item.district_id;
	}
				

						<MatOption  TValue="string" Value="@item.district_id" >@item.district_name_thai</MatOption>
					
				}
	
</MatSelect>
				<div class="invalid-feedback">

					กรุณาเลือกอำเภอ 
				</div>
			</div>

		
				

			<div class="col-lg-12  mb-3">
				<label for="country">ตำบล </label>
				<!--input type="text" class="form-control" id="TMP" name="TMP" placeholder="--ตำบล--" value='<?php echo $row1->TMP?>'-->
		
				<MatSelect Label="เลือกอำเภอ"  @bind-Value="@SelectTambonId" TValue="string"  Outlined="true" FullWidth>
	   
	  
	
		@foreach(var item in tambons)
					{ 

						<MatOption  TValue="string" Value="@item.tambon_id" >@item.tambon_name_thai</MatOption>
					
			}
	
</MatSelect>
				<div class="invalid-feedback">
					กรุณาเลือกตำบล
				</div>
			</div>

			<div class="col-lg-12  mb-3">
				<label for="country">หมู่ที่</label>
				<input type='text' name='MB' id='MB' class="form-control"  placeholder='--หมู่ที่--'  @bind-value="@recordSurveyProfile.MB" />'
		
			</div>

			<div class="col-lg-12  mb-3">
				<label for="MM">ชื่อหมู่บ้าน </label>
				<input type='text' name='MM'   @bind-value="@recordSurveyProfile.MM" id='MM' placeholder='--ชื่อหมู่บ้าน--' class="form-control">
			</div>

			<div class="col-lg-12  mb-3">
				<label for="POSTCODE">รหัสไปษณีย์</label>
				<input type="text" class="form-control" id="POSTCODE"  @bind-value="@recordSurveyProfile.POSTCODE" name="POSTCODE" placeholder="--รหัสไปษณีย์--"  >
				<div class="invalid-feedback">
					กรุณากรอกรหัสไปษณีย์
				</div>
			</div>

			<div class="col-lg-12  mb-3">
				<label for="MBNO">บ้านเลขที่</label>
				<input type='text' name='MBNO'  @bind-value="@recordSurveyProfile.MBNO" placeholder='--บ้านเลขที่--' class="form-control">
			</div>
		</div>

		<br>
		<div class="row" style='border-style: dotted;border-width: 1px'>
			<div class="col-lg-12  mb-3">
				<label for="PERSON">ชื่อผู้ให้ข้อมูล</label>
				<input type='button' value='reset' 
					onclick="
						document.getElementById('PREFIX1').checked=false;
						document.getElementById('PREFIX2').checked=false;
						document.getElementById('PREFIX3').checked=false;
						document.getElementById('PREFIX4').checked=false;
				">
					  <MatRadioGroup @bind-Value="@recordSurveyProfile.PREFIX" TValue="string">
				<div >
					<MatRadioButton Value="@("1")" Label="นาย" TValue="string"></MatRadioButton>
					</div>
				<div >
					<MatRadioButton Value="@("2")" Label="นาง" TValue="string"></MatRadioButton>
				</div>
				<div  >
					<MatRadioButton Value="@("3")" Label="นางสาว" TValue="string"></MatRadioButton>
				</div>
				<div >
					<MatRadioButton Value="@("4")" Label="อื่น ๆ" TValue="string"></MatRadioButton>
					<input type='text' name='PERSON' @bind-value="@recordSurveyProfile.PERSON"  placeholder="--ชื่อผู้ให้ข้อมูล--" class="form-control">
				</div>
					
					  </MatRadioGroup>
			</div>
		</div>

		<br>
		<div class="row" style='border-style: dotted;border-width: 1px'>
			<div class="col-lg-12  mb-3">
				<label for="popid">หมายเลขบัตรประจำตัวประชาชน ของผู้ให้ข้อมูล </label>
				<input type='text' name='popid' id='popid'  @bind-value="@recordSurveyProfile.popid"  placeholder="--หมายเลขบัตรประจำตัวประชาชน--" onkeyup="autoTab(this,1)" onkeypress="autoTab(this,1)" maxlength='17' class="form-control">
			</div>
		</div>

		<br>
		<div class="row" style='border-style: dotted;border-width: 1px'>
			<div class="col-lg-12  mb-3">
				<label for="TEL">หมายเลขโทรศัพท์ (บ้าน/มือถือ) </label>
				<input type='text' id='TEL' name='TEL'  @bind-value="@recordSurveyProfile.TEL" placeholder="--หมายเลขโทรศัพท์--" size='30' onKeyUp="autoTab(this,2)" onKeyPress="autoTab(this,2)" maxlength='12' class="form-control">
			</div>
		</div>

		<br>
		<div class="row" style='border-style: dotted;border-width: 1px'>
			<div class="col-lg-12  mb-3">
				<label for="PERSON_NAME">ชื่อผู้ให้ข้อมูล <font color='red'>(ต้องเป็นบุคคลที่อาศัยอยู่ในครัวเรือน หรือได้รับความยินยอมจากบุคคลในครัวเรือนให้เป็นผู้ให้ข้อมูล)</font></label>

				<input type='button' value='reset' 
					onclick="
						document.getElementById('PREFIX1').checked=false;
						document.getElementById('PREFIX2').checked=false;
						document.getElementById('PREFIX3').checked=false;
						document.getElementById('PREFIX4').checked=false;
				">
<MatRadioGroup @bind-Value="@recordSurveyProfile.PERSON_PREFIX" TValue="string">
				<div class="custom-control custom-radio">
					<MatRadioButton Value="@("1")" TValue="string"   >นาย</MatRadioButton>
@*<MatRadioGroup @bind-Value="@recordSurveyProfile.PERSON_PREFIX" TValue="string">*@
				</div>
				<div class="custom-control custom-radio">
					<MatRadioButton Value="@("2")" TValue="string"   >นาง</MatRadioButton>
@*<MatRadioGroup @bind-Value="@recordSurveyProfile.PERSON_PREFIX" TValue="string">*@
				</div>
				<div class="custom-control custom-radio">
					<MatRadioButton Value="@("3")" TValue="string"   >นางสาว</MatRadioButton>
@*<MatRadioGroup @bind-Value="@recordSurveyProfile.PERSON_PREFIX" TValue="string">*@
				</div>
				<!--div class="custom-control custom-radio">
					<MatRadioButton Value="@("4")" TValue="string"   >อื่น ๆ</MatRadioButton>
@*<MatRadioGroup @bind-Value="@recordSurveyProfile.PERSON_PREFIX" TValue="string">*@
				</div--></MatRadioGroup>
			</div>

			<div class="col-lg-12  mb-3">
				<label for="PERSON_NAME">ชื่อผู้ให้ข้อมูล <font color='red'>(ต้องเป็นบุคคลที่อาศัยอยู่ในครัวเรือน หรือได้รับความยินยอมจากบุคคลในครัวเรือนให้เป็นผู้ให้ข้อมูล)</font></label>
				<input type='text' name='PERSON_NAME'  placeholder="--ชื่อผู้ให้ข้อมูล--" class="form-control"  @bind-value="@recordSurveyProfile.PERSON_NAME">
			</div>
			<div class="col-lg-12  mb-3">
				<label for="PERSON_SNAME">นามสกุลผู้ให้ข้อมูล <font color='red'>(ต้องเป็นบุคคลที่อาศัยอยู่ในครัวเรือน หรือได้รับความยินยอมจากบุคคลในครัวเรือนให้เป็นผู้ให้ข้อมูล)</font></label>
				<input type='text' name='PERSON_SNAME'  placeholder="--นามสกุลผู้ให้ข้อมูล--" class="form-control"  @bind-value="@recordSurveyProfile.PERSON_SNAME">
			</div>
			<div class="col-lg-12  mb-3">
				<label for="PERSON_POPID">หมายเลขบัตรประจำตัวประชาชน ของผู้ให้ข้อมูล </label>
				<input type='text' name='PERSON_POPID' id='PERSON_POPID'  placeholder="--หมายเลขบัตรประจำตัวประชาชน--" onkeyup="autoTab(this,1)" onkeypress="autoTab(this,1)" maxlength='17' class="form-control"  @bind-value="@recordSurveyProfile.PERSON_POPID">
			</div>
		</div>



		<br>
		<div class="row" style='border-style: dotted;border-width: 1px'>
			<div class="col-lg-12  mb-3">
				<label for="TEL">หมายเลขโทรศัพท์ (บ้าน/มือถือ) </label>
				<input type='text' name='PERSON_POPID' id='PERSON_POPID'  placeholder="--หมายเลขบัตรประจำตัวประชาชน--" onkeyup="autoTab(this,1)" onkeypress="autoTab(this,1)" maxlength='17' class="form-control"  @bind-value="@recordSurveyProfile.PERSON_POPID">
			</div>
		</div>

		<br>
		<div class="row" style='border-style: dotted;border-width: 1px'>
			<div class="col-lg-12  mb-3">
				<label for="NO1">จำนวนสมาชิก<font color='red'>ทั้งหมดในครัวเรือนตามทะเบียนบ้าน</font>  </label>
				<input type='text' name='PERSON_POPID' id='PERSON_POPID'  placeholder="--หมายเลขบัตรประจำตัวประชาชน--" onkeyup="autoTab(this,1)" onkeypress="autoTab(this,1)" maxlength='17' class="form-control"  @bind-value="@recordSurveyProfile.PERSON_POPID">
			</div>

			<!--div class="col-lg-12  mb-3">
				<label for="NO2">จำนวนสมาชิก<font color='red'>ทั้งหมดที่อาศัยอยู่จริง</font>ในครัวเรือน </label>
				<input type='text' name='PERSON_POPID' id='PERSON_POPID'  placeholder="--หมายเลขบัตรประจำตัวประชาชน--" onkeyup="autoTab(this,1)" onkeypress="autoTab(this,1)" maxlength='17' class="form-control"  @bind-value="@recordSurveyProfile.PERSON_POPID">
			</div-->

			<div class="col-lg-12  mb-3">
				<label for="NO3">จำนวนสมาชิก<font color='red'>ที่อาศัยและมีชื่อในทะเบียนบ้าน</font> </label>
			<input type='text' name='PERSON_POPID' id='PERSON_POPID'  placeholder="--หมายเลขบัตรประจำตัวประชาชน--" onkeyup="autoTab(this,1)" onkeypress="autoTab(this,1)" maxlength='17' class="form-control"  @bind-value="@recordSurveyProfile.PERSON_POPID">
			</div>
			<input type='hidden' name='NO2'>
			<input type='hidden' name='NO5'>

			<div class="col-lg-12  mb-3">
				<label for="NO4">จำนวนสมาชิก<font color='red'>ที่อาศัยแต่ไม่มี</font>ชื่อในทะเบียนบ้าน</label>
			<input type='text' name='PERSON_POPID' id='PERSON_POPID'  placeholder="--หมายเลขบัตรประจำตัวประชาชน--" onkeyup="autoTab(this,1)" onkeypress="autoTab(this,1)" maxlength='17' class="form-control"  @bind-value="@recordSurveyProfile.PERSON_POPID">
			</div>

			<!--div class="col-lg-12  mb-3">
				<label for="NO55">จำนวนสมาชิกที่<font color='red'>ไม่ได้อาศัยแต่มีชื่อในทะเบียนบ้าน</font></label>
			<input type='text' name='PERSON_POPID' id='PERSON_POPID'  placeholder="--หมายเลขบัตรประจำตัวประชาชน--" onkeyup="autoTab(this,1)" onkeypress="autoTab(this,1)" maxlength='17' class="form-control"  @bind-value="@recordSurveyProfile.PERSON_POPID">
			</div-->
		</div>
		<br>
		<div class="row" style='border-style: dotted;border-width: 1px'>
			<div class="col-lg-12  mb-3">
				<label for="HOST_NAME">ชื่อผู้ทำแบบสำรวจ </label>
				<input type='button' value='reset' 
					onclick="
						document.getElementById('PREFIX_SURVEYER1').checked=false;
						document.getElementById('PREFIX_SURVEYER2').checked=false;
						document.getElementById('PREFIX_SURVEYER3').checked=false;
						document.getElementById('PREFIX_SURVEYER4').checked=false;
				">
<MatRadioGroup @bind-Value="@recordSurveyProfile.SURVEYER_PREFIX" TValue="string">
				<div class="custom-control custom-radio">
					<MatRadioButton Value="@("1")" TValue="string"   >นาย</MatRadioButton>
@*<MatRadioGroup @bind-Value="@recordSurveyProfile.SURVEYER_PREFIX" TValue="string">*@
				</div>
				<div class="custom-control custom-radio">
					<MatRadioButton Value="@("2")" TValue="string"   >นาง</MatRadioButton>
@*<MatRadioGroup @bind-Value="@recordSurveyProfile.SURVEYER_PREFIX" TValue="string">*@
				</div>
				<div class="custom-control custom-radio">
					<MatRadioButton Value="@("3")" TValue="string"   >นางสาว</MatRadioButton>
@*<MatRadioGroup @bind-Value="@recordSurveyProfile.SURVEYER_PREFIX" TValue="string">*@
				</div>
				<!--div class="custom-control custom-radio">
					<MatRadioButton Value="@("4")" TValue="string"   >อื่น ๆ</MatRadioButton>
@*<MatRadioGroup @bind-Value="@recordSurveyProfile.SURVEYER_PREFIX" TValue="string">*@
					<label class="custom-control-label" for="PREFIX_SURVEYER4"> อื่น ๆ  </label>
				</div--></MatRadioGroup>	
			</div>			

		<div class="col-lg-12  mb-3">
				<label for="SURVEYER_NAME">ชื่อผู้ทำแบบสำรวจ </label>
				<input type='text' name='SURVEYER_NAME' id='SURVEYER_NAME' placeholder="--ชื่อผู้ทำแบบสำรวจ--" class="form-control"  @bind-value="@recordSurveyProfile.SURVEYER_NAME">
			</div>
			<div class="col-lg-12  mb-3">
				<label for="SURVEYER_SNAME">นามสกุลผู้ทำแบบสำรวจ </label>
				<input type='text' name='SURVEYER_SNAME' id='SURVEYER_SNAME' placeholder="--นามสกุลผู้ทำแบบสำรวจ--" class="form-control"  @bind-value="@recordSurveyProfile.SURVEYER_SNAME">
			</div>
			<div class="col-lg-12  mb-3">
				<label for="SURVEYER_TEL">เบอร์โทรศัพท์ ผู้ทำแบบสำรวจ </label>
				<input type='text' name='SURVEYER_SNAME' id='SURVEYER_SNAME' placeholder="--นามสกุลผู้ทำแบบสำรวจ--" class="form-control"  @bind-value="@recordSurveyProfile.SURVEYER_SNAME">
			</div>

			<div class="col-lg-12  mb-3">
				<label for="SURVEYER_SNAME">วันที่ไปสำรวจ </label>
				<input type='text' id="SURVEYER_DATE" class="datepicker form-control" placeholder="--วันที่ไปสำรวจ--"  name='SURVEYER_DATE' @bind-value="@recordSurveyProfile.SURVEYER_DATE">
			</div>
			<div class="col-lg-12  mb-3">
				<label for="SURVEYER_POPID">เวลาที่ไปสำรวจ</label>
				<input type='text' name='SURVEYER_TIME' id='SURVEYER_TIME'  placeholder="--เวลาที่ไปสำรวจ HH:MM เช่น 13:30--" maxlength='5' class="form-control"  @bind-value="@recordSurveyProfile.SURVEYER_TIME">
			</div>
		</div>
		<br>
		<br>
		<div class="row" style='border-style: dotted;border-width: 1px'>
			<div class="col-lg-12  mb-3">
				<label for="pic">รูป (ขนาดรูปห้ามเกิน 400K)</label>
					<input type='file' name='picture' accept="image/*" id='pic' onchange="preview_image(event)" class="form-control">
			</div>

			<div class="col-lg-12  mb-3">
				<div style='display:table-cell' align='right'>คำอธิบายรูป : </div>
				<div style='display:table-cell'><textarea name='detail' class="form-control"></textarea></div>
			</div>

					
					<br><br><img id="output_image"width='400' />


			<br>

			</div>

		<br>
		<div class="row">
			<div class="col-lg-12  mb-3">

				<MatButton Raised="true" type="submit" >บันทึก @complete</MatButton>
				@{var txtLink="surveya1/"+@HC;}<MatButtonLink Href='@txtLink' Raised="true" Style="Default">ถัดไป</MatButtonLink>
				
				
			</div>
		</div>
</EditForm>


@code {

	
}

 