@page "/surveya4"
@page "/surveya4/{HC}"
@inject Models.EmployeeContext DBContext

@using FirstBlazorApp.Models
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@*<?php
 session_start();
 //phpinfo();
 if(!$_SESSION["HC"]){
 ?>*@

 <br>
 <div class="row" style='border-style: dotted;border-width: 1px'>
 <div class="col-lg-12  mb-3">
 <label for="firstName"><b>ตอนที่ 1 ข้อมูลสมาชิกในครัวเรือน (ทุนมนุษย์) (4/5)  (หน้าที่ 5/20)</b></label>
 <label for="firstName">จำนวนเงินสวัสดิการให้ระบุจำนวนเงิน และความถี่ เช่น  กรณีผู้สูงอายุ 600 บาท ทุกเดือน   หรือ กรณีเงินเยียวยาจากโควิด 15,000 บาท  ครั้งเดียว</label>
 </div>
 </div>
 <br>
 <div class="row" style='border-style: dotted;border-width: 1px'>
 <div class="col-lg-12">
 <label><b><font size='6' color='red'>HC : @HC</font></b></label>
 </div>
 </div>
 @*<?php
 $mysqli=mcon($mysql["host"], $mysql["user"], $mysql["pass"], $mysql["dbname"],$mysql["charset"]);
 $HC=$_SESSION["HC"];
 $query="select a1,a2 from survey_a1 where HC='$HC' and survey_year='$survey_year' and survey_no='$survey_no' order by convert(a1,integer)";
 $result=$mysqli->query($query);
 $i=1;
 while($row=$result->fetch_object()){
 $query1="select a14,a15_0,a15_0_1,a15_0_1_1,a15_0_1_2,a15_0_1_3,a15_0_1_4,a15_0_1_5,a15_0_1_6,a15_0_1_7,a15_0_1_7_1,a15_0_2,a15_0_2_1,a15_0_2_2,a15_0_2_3,a15_0_2_4,a15_0_2_5,a15_0_2_6,a15_0_2_7,a15_0_2_7_1,a15_1,a15_2,a15_3,a15_4,a15_5,a15_6,a15_7,a15_8,a15_9,a15_10,a15_10_1,a16_0,a16_1,a16_2,a16_3,a16_4,a16_5,a16_6,a16_7,a16_8,a16_9,a16_10,a16_10_1,a17_1,a17_2,a17_3_1,a17_3_2 from survey_a2 where HC='$HC' and a1='$row->a1' and survey_year='$survey_year' and survey_no='$survey_no' ";
 $result1=$mysqli->query($query1);
 $row1=$result1->fetch_object();
 ?>*@
  @{
		//var hc_year_no=configSurvey.HC_noId(HC);
		var i = 0;
	}
 <EditForm Model="@modelSurA2sByHc" OnValidSubmit="@HandleValidSubmit" >

	@foreach(var item in modelSurA2sByHc )
	{
		if (i < modelSurA2sByHc.Count)
		{
			
		i++;
		}
		else
		{
			i = 1;
		}
		
		var index=i;
 <br>
 <input type='hidden' name='a1[@index]' value='@*<?php echo$row->a1?>*@'>
 <div class="row" style='border-style: dotted;border-width: 1px'>
 <div class="col-lg-12  mb-3">
 <label for="firstName"><b>@index. @item.survey_A1_2.a1</b></label>
 
 
 <div class="col-lg-12  mb-3">
 <label>14. สถานภาพการทำงาน (A14)</label>
 <input type='button' value='reset'
 onclick="
 document.getElementById('a142[@index]').checked=false;
 document.getElementById('a141[@index]').checked=false;
 ">
  <MatRadioGroup @bind-Value="@item.survey_A1.a14" TValue="string">
			
 <div class="custom-control custom-radio">
<MatRadioButton Value="@("0")" Label=" 0) ไม่ทำงาน"TValue="string"></MatRadioButton>
 </div>
 <div class="custom-control custom-radio">
<MatRadioButton Value="@("1")" Label=" 1) ทำงาน "TValue="string"></MatRadioButton>
 </div>
 </MatRadioGroup>>
 </div> 
 
 <label>&nbsp;&nbsp;&nbsp;15. อาชีพ (A15) </label>
 <div class="col-lg-12  mb-3" >
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_0" >0) ว่างงาน</MatCheckbox>
 
 <div class="custom-control custom-checkbox">
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_0_1" > ตกงานจากการแพร่ระบาดของ covid-19 ในพื้นที่</MatCheckbox>
 <label > อาชีพเดิมที่ทำ</label>
 
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_0_1_1" > ร้านอาหาร  </MatCheckbox>
 </div>
 
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_0_1_2" > แรงงานรับจ้าง  </MatCheckbox>
 </div>
 
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_0_1_3" > ก่อสร้าง </MatCheckbox>
 </div>
 
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_0_1_4" >  แม่บ้าน  </MatCheckbox>
 </div>
 
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_0_1_5" > แรงงานประมง  </MatCheckbox>
 </div>
 
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_0_1_6" > ค้าขาย  </MatCheckbox>
 </div>
 
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_0_1_7" > อื่น ๆ (ระบุ)  </MatCheckbox>
 <input type='text' name='a15_0_1_7_1[@index]' @bind-value="@item.survey_A1.a15_0_1_7_1"   class="form-control">
 </div>
 </div>
 
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_0_2" > กลับจากต่างประเทศ (เช่น มาเลเซีย)</MatCheckbox>
 <label > อาชีพเดิมที่ทำ</label>
 
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_0_2_1" > ร้านอาหาร  </MatCheckbox>
 </div>
 
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_0_2_2" > แรงงานรับจ้าง  </MatCheckbox>
 </div>
 
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_0_2_3" > ก่อสร้าง </MatCheckbox>
 </div>
 
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_0_2_4" >  แม่บ้าน  </MatCheckbox>
 </div>
 
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_0_2_5" > แรงงานประมง  </MatCheckbox>
 </div>
 
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_0_2_6" > ค้าขาย  </MatCheckbox>
 </div>
 
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_0_2_7" > อื่น ๆ (ระบุ)  </MatCheckbox>
 <input type='text' name='a15_0_2_7_1[@index]' @bind-value="@item.survey_A1.a15_0_2_7_1" class="form-control">
 </div>
 </div>
 </div>
 </div>
 
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_1" >1) เกษตรกรรม </MatCheckbox>
 </div>
 
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_2" >2) ประมง </MatCheckbox>
 </div>
 
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_3" >3) รับจ้างภาคการเกษตร/ประมง </MatCheckbox>
 </div>
 
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_4" >4) รับจ้างทั่วไปนอกภาคการเกษตร (รายวัน) </MatCheckbox>
 </div>
 
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_5" >5) ลูกจ้าง บ.เอกชน โรงงาน โรงแรม ห้างร้าน </MatCheckbox>
 </div>
 
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_6" >6) ลูกจ้างหน่วยงานภาครัฐ/รัฐวิสาหกิจ </MatCheckbox>
 </div>
 
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_7" >7) รับราชการ/พนักงานหน่วยงานภาครัฐ/รัฐวิสาหกิจ </MatCheckbox>
 </div>
 
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_8" >8) ธุรกิจส่วนตัว/งานบริการ (เช่น ร้านขายของชำ ร้านซ่อมมอเตอร์ไชค์ ค้าขาย/หาบเร่/แผงลอย ร้านเสริมสวย รับจ้างซักรีด ขับสามล้อ มอเตอร์ไชค์รับจ้าง เป็นต้น) </MatCheckbox>
 </div>
 
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_9" >9) ปศุสัตว์ </MatCheckbox>
 </div>
 
 <div class="custom-control custom-checkbox">
<MatCheckbox  @bind-Value="@item.checkSurveya2.a15_10" >10) อื่น ๆ (ระบุ)</MatCheckbox>
 <input type='text' name='a15_10_1[@index]' @bind-value="@item.survey_A1.a15_10_1" class="form-control">
 </div>
 </div>
 </div>
 </div>
 <hr>
 }
 <br>
		<div class="row">
			<div class="col-lg-12  mb-3">
				<MatButton Raised="true" type="submit" >บันทึก @complete</MatButton>
				@{var txtLink="surveya5/"+@HC;}<MatButtonLink Href='@txtLink' Raised="true" Style="Default">ถัดไป</MatButtonLink>

			</div>
		</div>
</EditForm>>