@page "/surveyb4"

@page "/surveyb4/{HC}"
@inject Models.EmployeeContext DBContext

@using FirstBlazorApp.Models
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@*<?php
session_start();
//phpinfo();
if(!$_SESSION["HC"]){
?>*@
@*<script>
location='https://livingonnewpace.com/survey/index.php?curr=survey_profile';
</script>*@
@*<?php
	exit();
}
$mysqli=mcon($mysql["host"], $mysql["user"], $mysql["pass"], $mysql["dbname"],$mysql["charset"]);

$HC=$_SESSION["HC"];
$query="select b11_1,b11_1_1,b11_2,b11_2_1,b12_1,b12_2,b12_3,b12_4,b12_5,b12_6,b12_7,b12_8,b12_9,b12_10,b12_11,b12_12,b12_12_1,b13_1,b13_2,b13_3,b13_4,b13_5,b13_6,b13_7,b13_8,b13_9,b13_10,b13_11,b13_12,b14,b15,b13_12_1 from survey_b3 where HC='$HC' and survey_year='$survey_year' and survey_no='$survey_no'";
$result=$mysqli->query($query);
$row1=$result->fetch_object();
?>*@
@*<form name='survey' method='POST' action='surveyb4_add.php'>*@
<EditForm Model="@formData" OnValidSubmit="@HandleValidSubmit">
<br>
<div class="row" style='border-style: dotted;border-width: 1px'>
	<div class="col-lg-12 mb-3">
			<b>ตอนที่ 2 ข้อมูลด้านกายภาพและสาธารณูปโภคสาธารณูปการ (ทุนกายภาพ) (4/4) (หน้าที่ 10/20)</b>
	</div>
</div>
<br>
<div class="row" style='border-style: dotted;border-width: 1px'>
		<div class="col-lg-12">
		<label><b><font size='6' color='red'>HC : @HC</font></b></label>
	</div>
</div>
<br>
<div class="row" style='border-style: dotted;border-width: 1px'>
	<div class="col-lg-12  mb-3">
		<label>11. ถนน/เส้นทางสาธารณะและการเดินทาง (สังเกตและสอบถาม) (B11)</label>
		<div class="col-lg-12  mb-3">
			<label>11.1 ถนน/เส้นทางสาธารณะและการเดินทางเข้าที่อยู่อาศัย (B11.1)</label>
				<input type='button' value='reset' 
					onclick="
						document.getElementById('b11_1_a').checked=false;
						document.getElementById('b11_1_b').checked=false;
						document.getElementById('b11_1_c').checked=false;
						document.getElementById('b11_1_d').checked=false;
				">
<MatRadioGroup @bind-Value="@formData.surveyTemp.b11_1" TValue="string">
			<div class="custom-control custom-radio">checkbug
				<MatRadioButton Value="@("1")" TValue="string"   >1) ไม่มีถนนเข้าถึงที่อยู่อาศัย</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.b11_1" TValue="string">*@
				@*<label class="custom-control-label" for="b11_1_a">1) ไม่มีถนนเข้าถึงที่อยู่อาศัย </label>*@
			</div>
			<div class="custom-control custom-radio">
				<MatRadioButton Value="@("2")" TValue="string"   >2) ถนนเข้าถึงที่อยู่อาศัยใช้การได้บางฤดูกาล</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.b11_1" TValue="string">*@
				@*<label class="custom-control-label" for="b11_1_b">2) ถนนเข้าถึงที่อยู่อาศัยใช้การได้บางฤดูกาล  </label>*@
			</div>
			<div class="custom-control custom-radio">
				<MatRadioButton Value="@("3")" TValue="string"   >3) ถนนเข้าถึงที่อยู่อาศัยใช้การได้</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.b11_1" TValue="string">*@
				@*<label class="custom-control-label" for="b11_1_c">3) ถนนเข้าถึงที่อยู่อาศัยใช้การได้  </label>*@
			</div>
			<div class="custom-control custom-radio">
				<MatRadioButton Value="@("4")" TValue="string"   >4) มีการเดินทางในรูปแบบอื่น (ระบุ)</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.b11_1" TValue="string">*@
				@*<label class="custom-control-label" for="b11_1_d">4) มีการเดินทางในรูปแบบอื่น (ระบุ) </label>*@
				<input type='text' name='b11_1_1'  @bind-value="@formData.surveyTemp.b11_1_1" placeholder="--ระบุ--" class="form-control">
			</div>

</MatRadioGroup>		</div>

		<div class="col-lg-12  mb-3">
			<label>11.2 ถนน/เส้นทางสาธารณะและการเดินทางเข้าที่ทำกิน (B11.2)</label>
				<input type='button' value='reset' 
					onclick="
						document.getElementById('b11_2_a').checked=false;
						document.getElementById('b11_2_b').checked=false;
						document.getElementById('b11_2_c').checked=false;
						document.getElementById('b11_2_d').checked=false;
				">
<MatRadioGroup @bind-Value="@formData.surveyTemp.b11_2" TValue="string">
			<div class="custom-control custom-radio">
				<MatRadioButton Value="@("1")" TValue="string"   >1) ไม่มีถนนเข้าถึงที่ทำกิน</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.b11_2" TValue="string">*@
				@*<label class="custom-control-label" for="b11_2_a">1) ไม่มีถนนเข้าถึงที่ทำกิน </label>*@
			</div>
			<div class="custom-control custom-radio">
				<MatRadioButton Value="@("2")" TValue="string"   >2) ถนนเข้าถึงททำกินใช้การได้บางฤดูกาล</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.b11_2" TValue="string">*@
				@*<label class="custom-control-label" for="b11_2_b">2) ถนนเข้าถึงททำกินใช้การได้บางฤดูกาล  </label>*@
			</div>
			<div class="custom-control custom-radio">
				<MatRadioButton Value="@("3")" TValue="string"   >3) ถนนเข้าถึงที่ทำกินใช้การได้</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.b11_2" TValue="string">*@
				@*<label class="custom-control-label" for="b11_2_c">3) ถนนเข้าถึงที่ทำกินใช้การได้  </label>*@
			</div>
			<div class="custom-control custom-radio">
				<MatRadioButton Value="@("4")" TValue="string"   >4) มีการเดินทางในรูปแบบอื่น (ระบุ)</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.b11_2" TValue="string">*@
				@*<label class="custom-control-label" for="b11_2_d">4) มีการเดินทางในรูปแบบอื่น (ระบุ) </label>*@
				<input type='text' name='b11_2_1'  @bind-value="@formData.surveyTemp.b11_2_1"  placeholder="--ระบุ--" class="form-control">
			</div>

</MatRadioGroup>		</div>
	</div>
</div>
			
<br>
<div class="row" style='border-style: dotted;border-width: 1px'>
	<div class="col-lg-12  mb-3">
		<label>12. ครัวเรือนของท่านรับรู้ข้อมูลข่าวสารของหน่วยงานราชการจากแหล่งใด (ตอบได้มากกว่า 1 ข้อ) (B12)</label>
		<div class="custom-control custom-checkbox">
			<MatCheckbox  @bind-Value="@formData.b12_1" >1) ไม่ได้รับข่าวสาร 1) ไม่ได้รับข่าวสาร 1) ไม่ได้รับข่าวสาร 1) ไม่ได้รับข่าวสาร</MatCheckbox>			@*<label class="custom-control-label" for="b12_1">1) ไม่ได้รับข่าวสาร </label>*@
		</div>
		<div class="custom-control custom-checkbox">
			<MatCheckbox  @bind-Value="@formData.b12_2" >2) โทรทัศน์ 2) โทรทัศน์ 2) โทรทัศน์ 2) โทรทัศน์</MatCheckbox>			@*<label class="custom-control-label" for="b12_2">2) โทรทัศน์  </label>*@
		</div>
		<div class="custom-control custom-checkbox">
			<MatCheckbox  @bind-Value="@formData.b12_3" >3) วิทยุ 3) วิทยุ 3) วิทยุ 3) วิทยุ</MatCheckbox>			@*<label class="custom-control-label" for="b12_3">3) วิทยุ  </label>*@
		</div>
		<div class="custom-control custom-checkbox">
			<MatCheckbox  @bind-Value="@formData.b12_4" >4) หนังสือพิมพ์ 4) หนังสือพิมพ์ 4) หนังสือพิมพ์ 4) หนังสือพิมพ์</MatCheckbox>			@*<label class="custom-control-label" for="b12_4">4) หนังสือพิมพ์  </label>*@
		</div>
		<div class="custom-control custom-checkbox">
			<MatCheckbox  @bind-Value="@formData.b12_5" >5) วารสารการเกษตร 5) วารสารการเกษตร 5) วารสารการเกษตร 5) วารสารการเกษตร</MatCheckbox>			@*<label class="custom-control-label" for="b12_5">5) วารสารการเกษตร  </label>*@
		</div>
		<div class="custom-control custom-checkbox">
			<MatCheckbox  @bind-Value="@formData.b12_6" >6) อินเตอร์เน็ต /Social media กลุ่มไลน์ 6) อินเตอร์เน็ต /Social media กลุ่มไลน์ 6) อินเตอร์เน็ต /Social media กลุ่มไลน์ 6) อินเตอร์เน็ต /Social media กลุ่มไลน์</MatCheckbox>			@*<label class="custom-control-label" for="b12_6">6) อินเตอร์เน็ต /Social media กลุ่มไลน์  </label>*@
		</div>
		<div class="custom-control custom-checkbox">
			<MatCheckbox  @bind-Value="@formData.b12_7" >7) ประชุมหมู่บ้าน 7) ประชุมหมู่บ้าน 7) ประชุมหมู่บ้าน 7) ประชุมหมู่บ้าน</MatCheckbox>			@*<label class="custom-control-label" for="b12_7">7) ประชุมหมู่บ้าน </label>*@
		</div>
		<div class="custom-control custom-checkbox">
			<MatCheckbox  @bind-Value="@formData.b12_8" >8) หอกระจายข่าวในหมู่บ้าน 8) หอกระจายข่าวในหมู่บ้าน 8) หอกระจายข่าวในหมู่บ้าน 8) หอกระจายข่าวในหมู่บ้าน</MatCheckbox>			@*<label class="custom-control-label" for="b12_8">8) หอกระจายข่าวในหมู่บ้าน  </label>*@
		</div>
		<div class="custom-control custom-checkbox">
			<MatCheckbox  @bind-Value="@formData.b12_9" >9) เพื่อนบ้าน ญาติพี่น้อง ร้านค้าในหมู่บ้าน 9) เพื่อนบ้าน ญาติพี่น้อง ร้านค้าในหมู่บ้าน 9) เพื่อนบ้าน ญาติพี่น้อง ร้านค้าในหมู่บ้าน 9) เพื่อนบ้าน ญาติพี่น้อง ร้านค้าในหมู่บ้าน</MatCheckbox>			@*<label class="custom-control-label" for="b12_9">9) เพื่อนบ้าน ญาติพี่น้อง ร้านค้าในหมู่บ้าน  </label>*@
		</div>
		<div class="custom-control custom-checkbox">
			<MatCheckbox  @bind-Value="@formData.b12_10" >10) ติดประกาศที่เทศบาล/อบต. / หน่วยงาน 10) ติดประกาศที่เทศบาล/อบต. / หน่วยงาน 10) ติดประกาศที่เทศบาล/อบต. / หน่วยงาน 10) ติดประกาศที่เทศบาล/อบต. / หน่วยงาน</MatCheckbox>			@*<label class="custom-control-label" for="b12_10">10) ติดประกาศที่เทศบาล/อบต. / หน่วยงาน  </label>*@
		</div>
		<div class="custom-control custom-checkbox">
			<MatCheckbox  @bind-Value="@formData.b12_11" >11) รถประชาสัมพันธ์ของหน่วยงาน 11) รถประชาสัมพันธ์ของหน่วยงาน 11) รถประชาสัมพันธ์ของหน่วยงาน 11) รถประชาสัมพันธ์ของหน่วยงาน</MatCheckbox>			@*<label class="custom-control-label" for="b12_11">11) รถประชาสัมพันธ์ของหน่วยงาน  </label>*@
		</div>
		<div class="custom-control custom-checkbox">
			<MatCheckbox  @bind-Value="@formData.b12_12" >12) อื่น ๆ (ระบุ) 12) อื่น ๆ (ระบุ) 12) อื่น ๆ (ระบุ) 12) อื่น ๆ (ระบุ)</MatCheckbox>			@*<label class="custom-control-label" for="b12_12">12) อื่น ๆ (ระบุ) </label>*@
			<input type='text' name='b12_12_1'  @bind-value="@formData.surveyTemp.b12_12_1">
		</div>
	</div>
</div>

<br>
<div class="row" style='border-style: dotted;border-width: 1px'>
	<div class="col-lg-12  mb-3">
		<label>13. ครัวเรือนของท่านรับรู้/ใช้ประโยชน์ข้อมูลข่าวสารที่เกี่ยวข้องกับการดำรงชีพและสร้างรายได้ ของหน่วยงานราชการจากแหล่งใด (ตอบได้มากกว่า1 ข้อ) (B13)</label>
		<div class="custom-control custom-checkbox">
			<MatCheckbox  @bind-Value="@formData.b13_1" >1) ไม่ได้รับข่าวสาร 1) ไม่ได้รับข่าวสาร 1) ไม่ได้รับข่าวสาร 1) ไม่ได้รับข่าวสาร</MatCheckbox>			@*<label class="custom-control-label" for="b13_1">1) ไม่ได้รับข่าวสาร </label>*@
		</div>
		<div class="custom-control custom-checkbox">
			<MatCheckbox  @bind-Value="@formData.b13_2" >2) โทรทัศน์ 2) โทรทัศน์ 2) โทรทัศน์ 2) โทรทัศน์</MatCheckbox>			@*<label class="custom-control-label" for="b13_2">2) โทรทัศน์  </label>*@
		</div>
		<div class="custom-control custom-checkbox">
			<MatCheckbox  @bind-Value="@formData.b13_3" >3) วิทยุ 3) วิทยุ 3) วิทยุ 3) วิทยุ</MatCheckbox>			@*<label class="custom-control-label" for="b13_3">3) วิทยุ  </label>*@
		</div>
		<div class="custom-control custom-checkbox">
			<MatCheckbox  @bind-Value="@formData.b13_4" >4) หนังสือพิมพ์ 4) หนังสือพิมพ์ 4) หนังสือพิมพ์ 4) หนังสือพิมพ์</MatCheckbox>			@*<label class="custom-control-label" for="b13_4">4) หนังสือพิมพ์  </label>*@
		</div>
		<div class="custom-control custom-checkbox">
			<MatCheckbox  @bind-Value="@formData.b13_5" >5) วารสารการเกษตร 5) วารสารการเกษตร 5) วารสารการเกษตร 5) วารสารการเกษตร</MatCheckbox>			@*<label class="custom-control-label" for="b13_5">5) วารสารการเกษตร  </label>*@
		</div>
		<div class="custom-control custom-checkbox">
			<MatCheckbox  @bind-Value="@formData.b13_6" >6) อินเตอร์เน็ต /Social media กลุ่มไลน์ 6) อินเตอร์เน็ต /Social media กลุ่มไลน์ 6) อินเตอร์เน็ต /Social media กลุ่มไลน์ 6) อินเตอร์เน็ต /Social media กลุ่มไลน์</MatCheckbox>			@*<label class="custom-control-label" for="b13_6">6) อินเตอร์เน็ต /Social media กลุ่มไลน์  </label>*@
		</div>
		<div class="custom-control custom-checkbox">
			<MatCheckbox  @bind-Value="@formData.b13_7" >7) ประชุมหมู่บ้าน 7) ประชุมหมู่บ้าน 7) ประชุมหมู่บ้าน 7) ประชุมหมู่บ้าน</MatCheckbox>			@*<label class="custom-control-label" for="b13_7">7) ประชุมหมู่บ้าน </label>*@
		</div>
		<div class="custom-control custom-checkbox">
			<MatCheckbox  @bind-Value="@formData.b13_8" >8) หอกระจายข่าวในหมู่บ้าน 8) หอกระจายข่าวในหมู่บ้าน 8) หอกระจายข่าวในหมู่บ้าน 8) หอกระจายข่าวในหมู่บ้าน</MatCheckbox>			@*<label class="custom-control-label" for="b13_8">8) หอกระจายข่าวในหมู่บ้าน  </label>*@
		</div>
		<div class="custom-control custom-checkbox">
			<MatCheckbox  @bind-Value="@formData.b13_9" >9) เพื่อนบ้าน ญาติพี่น้อง ร้านค้าในหมู่บ้าน 9) เพื่อนบ้าน ญาติพี่น้อง ร้านค้าในหมู่บ้าน 9) เพื่อนบ้าน ญาติพี่น้อง ร้านค้าในหมู่บ้าน 9) เพื่อนบ้าน ญาติพี่น้อง ร้านค้าในหมู่บ้าน</MatCheckbox>			@*<label class="custom-control-label" for="b13_9">9) เพื่อนบ้าน ญาติพี่น้อง ร้านค้าในหมู่บ้าน  </label>*@
		</div>
		<div class="custom-control custom-checkbox">
			<MatCheckbox  @bind-Value="@formData.b13_10" >10) ติดประกาศที่เทศบาล/อบต. / หน่วยงาน 10) ติดประกาศที่เทศบาล/อบต. / หน่วยงาน 10) ติดประกาศที่เทศบาล/อบต. / หน่วยงาน 10) ติดประกาศที่เทศบาล/อบต. / หน่วยงาน</MatCheckbox>			@*<label class="custom-control-label" for="b13_10">10) ติดประกาศที่เทศบาล/อบต. / หน่วยงาน  </label>*@
		</div>
		<div class="custom-control custom-checkbox">
			<MatCheckbox  @bind-Value="@formData.b13_11" >11) รถประชาสัมพันธ์ของหน่วยงาน 11) รถประชาสัมพันธ์ของหน่วยงาน 11) รถประชาสัมพันธ์ของหน่วยงาน 11) รถประชาสัมพันธ์ของหน่วยงาน</MatCheckbox>			@*<label class="custom-control-label" for="b13_11">11) รถประชาสัมพันธ์ของหน่วยงาน  </label>*@
		</div>
		<div class="custom-control custom-checkbox">
			<MatCheckbox  @bind-Value="@formData.b13_12" >12) อื่น ๆ (ระบุ) 12) อื่น ๆ (ระบุ) 12) อื่น ๆ (ระบุ) 12) อื่น ๆ (ระบุ)</MatCheckbox>			@*<label class="custom-control-label" for="b13_12">12) อื่น ๆ (ระบุ) </label>*@
			<input type='text' name='b13_12_1'  @bind-value="@formData.surveyTemp.b13_12_1">
		</div>
	</div>
</div>

<br>
<div class="row" style='border-style: dotted;border-width: 1px'>
	<div class="col-lg-12  mb-3">
		<label for="firstName">14. ครัวเรือนของท่านใช้เทคโนโลยีดิจิทัลในการขอรับสวัสดิการจากภาครัฐหรือไม่ (B14)</label>
<MatRadioGroup @bind-Value="@formData.surveyTemp.b14" TValue="string">
		<div class="custom-control custom-radio">
			<MatRadioButton Value="@("0")" TValue="string"   >1) ไม่ใช้</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.b14" TValue="string">*@
			@*<label class="custom-control-label" for="b14_1"> 1) ไม่ใช้ </label>*@
		</div>
		<div class="custom-control custom-radio">
			<MatRadioButton Value="@("1")" TValue="string"   >2) ใช้</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.b14" TValue="string">*@
			@*<label class="custom-control-label" for="b14_b"> 2) ใช้</label>*@
		</div>

</MatRadioGroup>	</div>
</div>

<br>
<div class="row" style='border-style: dotted;border-width: 1px'>
	<div class="col-lg-12  mb-3">
		<label for="firstName">15. ครัวเรือนของท่านได้รับประโยชน์ในการดำรงชีพและสร้างรายได้จากเทคโนโลยีดิจิทัลหรือไม่ (B15)</label>
<MatRadioGroup @bind-Value="@formData.surveyTemp.b15" TValue="string">
		<div class="custom-control custom-radio">
			<MatRadioButton Value="@("0")" TValue="string"   >1) ไม่ได้</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.b15" TValue="string">*@
			@*<label class="custom-control-label" for="b15_1"> 1) ไม่ได้ </label>*@
		</div>
		<div class="custom-control custom-radio">
			<MatRadioButton Value="@("1")" TValue="string"   >2) ได้</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.b15" TValue="string">*@
			@*<label class="custom-control-label" for="b15_b"> 2) ได้</label>*@
		</div>

</MatRadioGroup>	</div>
</div>
@*<?php
	$mysqli->close();
include('button.php');
?>*@
@*</form>*@
 }
 <br>
		<div class="row">
			<div class="col-lg-12  mb-3">
				<MatButton Raised="true" type="submit" >บันทึก @complete</MatButton>
				@{var txtLink="surveyc1/"+@HC;}<MatButtonLink Href='@txtLink' Raised="true" Style="Default">ถัดไป</MatButtonLink>

			</div>
		</div>
</EditForm>@*
public bool b12_1 {get;set;}
public bool b12_2 {get;set;}
public bool b12_3 {get;set;}
public bool b12_4 {get;set;}
public bool b12_5 {get;set;}
public bool b12_6 {get;set;}
public bool b12_7 {get;set;}
public bool b12_8 {get;set;}
public bool b12_9 {get;set;}
public bool b12_10 {get;set;}
public bool b12_11 {get;set;}
public bool b12_12 {get;set;}
public bool b13_1 {get;set;}
public bool b13_2 {get;set;}
public bool b13_3 {get;set;}
public bool b13_4 {get;set;}
public bool b13_5 {get;set;}
public bool b13_6 {get;set;}
public bool b13_7 {get;set;}
public bool b13_8 {get;set;}
public bool b13_9 {get;set;}
public bool b13_10 {get;set;}
public bool b13_11 {get;set;}
public bool b13_12 {get;set;}
formData.b12_1 = String.IsNullOrEmpty(formData.surveyTemp.b12_1) ? false : true;
formData.b12_2 = String.IsNullOrEmpty(formData.surveyTemp.b12_2) ? false : true;
formData.b12_3 = String.IsNullOrEmpty(formData.surveyTemp.b12_3) ? false : true;
formData.b12_4 = String.IsNullOrEmpty(formData.surveyTemp.b12_4) ? false : true;
formData.b12_5 = String.IsNullOrEmpty(formData.surveyTemp.b12_5) ? false : true;
formData.b12_6 = String.IsNullOrEmpty(formData.surveyTemp.b12_6) ? false : true;
formData.b12_7 = String.IsNullOrEmpty(formData.surveyTemp.b12_7) ? false : true;
formData.b12_8 = String.IsNullOrEmpty(formData.surveyTemp.b12_8) ? false : true;
formData.b12_9 = String.IsNullOrEmpty(formData.surveyTemp.b12_9) ? false : true;
formData.b12_10 = String.IsNullOrEmpty(formData.surveyTemp.b12_10) ? false : true;
formData.b12_11 = String.IsNullOrEmpty(formData.surveyTemp.b12_11) ? false : true;
formData.b12_12 = String.IsNullOrEmpty(formData.surveyTemp.b12_12) ? false : true;
formData.b13_1 = String.IsNullOrEmpty(formData.surveyTemp.b13_1) ? false : true;
formData.b13_2 = String.IsNullOrEmpty(formData.surveyTemp.b13_2) ? false : true;
formData.b13_3 = String.IsNullOrEmpty(formData.surveyTemp.b13_3) ? false : true;
formData.b13_4 = String.IsNullOrEmpty(formData.surveyTemp.b13_4) ? false : true;
formData.b13_5 = String.IsNullOrEmpty(formData.surveyTemp.b13_5) ? false : true;
formData.b13_6 = String.IsNullOrEmpty(formData.surveyTemp.b13_6) ? false : true;
formData.b13_7 = String.IsNullOrEmpty(formData.surveyTemp.b13_7) ? false : true;
formData.b13_8 = String.IsNullOrEmpty(formData.surveyTemp.b13_8) ? false : true;
formData.b13_9 = String.IsNullOrEmpty(formData.surveyTemp.b13_9) ? false : true;
formData.b13_10 = String.IsNullOrEmpty(formData.surveyTemp.b13_10) ? false : true;
formData.b13_11 = String.IsNullOrEmpty(formData.surveyTemp.b13_11) ? false : true;
formData.b13_12 = String.IsNullOrEmpty(formData.surveyTemp.b13_12) ? false : true;
 formData.surveyTemp.b12_1= formData.b12_1 ? "1" : "";
 formData.surveyTemp.b12_2= formData.b12_2 ? "2" : "";
 formData.surveyTemp.b12_3= formData.b12_3 ? "3" : "";
 formData.surveyTemp.b12_4= formData.b12_4 ? "4" : "";
 formData.surveyTemp.b12_5= formData.b12_5 ? "5" : "";
 formData.surveyTemp.b12_6= formData.b12_6 ? "6" : "";
 formData.surveyTemp.b12_7= formData.b12_7 ? "7" : "";
 formData.surveyTemp.b12_8= formData.b12_8 ? "8" : "";
 formData.surveyTemp.b12_9= formData.b12_9 ? "9" : "";
 formData.surveyTemp.b12_10= formData.b12_10 ? "10" : "";
 formData.surveyTemp.b12_11= formData.b12_11 ? "11" : "";
 formData.surveyTemp.b12_12= formData.b12_12 ? "12" : "";
 formData.surveyTemp.b13_1= formData.b13_1 ? "1" : "";
 formData.surveyTemp.b13_2= formData.b13_2 ? "2" : "";
 formData.surveyTemp.b13_3= formData.b13_3 ? "3" : "";
 formData.surveyTemp.b13_4= formData.b13_4 ? "4" : "";
 formData.surveyTemp.b13_5= formData.b13_5 ? "5" : "";
 formData.surveyTemp.b13_6= formData.b13_6 ? "6" : "";
 formData.surveyTemp.b13_7= formData.b13_7 ? "7" : "";
 formData.surveyTemp.b13_8= formData.b13_8 ? "8" : "";
 formData.surveyTemp.b13_9= formData.b13_9 ? "9" : "";
 formData.surveyTemp.b13_10= formData.b13_10 ? "10" : "";
 formData.surveyTemp.b13_11= formData.b13_11 ? "11" : "";
 formData.surveyTemp.b13_12= formData.b13_12 ? "12" : "";*@