@page "/surveye1"

@page "/surveye1/{HC}"
@inject Models.EmployeeContext DBContext

@using FirstBlazorApp.Models
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@*<?php
session_start();
//phpinfo();
if(!$_SESSION["HC"]){
?>*@
@*</script>
location='https://livingonnewpace.com/survey/index.php?curr=survey_profile';
</script>*@
@*<?php
	exit();
}
$mysqli=mcon($mysql["host"], $mysql["user"], $mysql["pass"], $mysql["dbname"],$mysql["charset"]);

$HC=$_SESSION["HC"];
$query="select e1_1_1,e1_1_2,e1_1_3,e1_2_1,e1_2_2,e1_2_3,e1_3_1,e1_3_2,e1_3_3,e1_4_1,e1_4_2,e1_4_3,e1_5_1,e1_5_2,e1_5_3,e1_6_4,e1_6_1,e1_6_2,e1_6_3 from survey_e1 where HC='$HC' and survey_year='$survey_year' and survey_no='$survey_no'";
$result=$mysqli->query($query);
$row1=$result->fetch_object();

$query_up="select ch5_st from survey_staff where  HC='$HC' and survey_year='$survey_year' and survey_no='$survey_no'";
$result_up=$mysqli->query($query_up);
$row_up=$result_up->fetch_object();
if($row_up->ch5_st==0){
	$query_up1="update survey_staff set ch5_st='".date("U")."' where  HC='$HC' and survey_year='$survey_year' and survey_no='$survey_no'";
	$result_up1=$mysqli->query($query_up1);
}
?>*@
@*<form name='surway' method='POST' action='surveye1_add.php'>*@
<EditForm Model="@formData" OnValidSubmit="@HandleValidSubmit">
<table>
	<tr>
		<td align='center'>แบบสอบถาม<br>
โครงการพัฒนาระบบสนับสนุนการทำงานเชิงพื้นที่เพื่อการแก้ไขปัญหาความยากจนแบบเบ็ดเสร็จและแม่นยำหน่วยบริหารและจัดการทุนด้านการพัฒนาระดับพื้นที่ (บพท.)
		</td>
	</tr>
	<tr>
		<td><b>ตอนที่ 5 การเกื้อกูลและระบบรองรับทางสังคม (ทุนทางสังคม) (1/3) (หน้าที่17/20)</b></td>
	</tr>
	<tr>
		<td><b><font size='6' color='red'>HC : @HC</font></b></td>
	</tr>
	<tr>
		<td>
			1. ครัวเรือนของท่านเข้าร่วมกลุ่มกิจกรรมของชุมชนใดบ้าง (ตอบได้มากกว่า 1 ข้อ) (E1)
			<br>&nbsp;&nbsp;&nbsp 1) <font color='blue'>กลุ่มอาชีพ/การผลิต/แปรรูป(เช่น กลุ่มเมล็ดพันธุ์) (E1.1)</font>
				<input type='button' value='reset' 
					onclick="
						document.getElementById('e1_1_10').checked=false;
						document.getElementById('e1_1_11').checked=false;
						document.getElementById('e1_1_21').checked=false;
						document.getElementById('e1_1_22').checked=false;
						document.getElementById('e1_1_23').checked=false;
						document.getElementById('e1_1_30').checked=false;
						document.getElementById('e1_1_31').checked=false;
				">
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<font color='red'>การเป็นสมาชิก (E1.2)</font>
<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_1_1" TValue="string">
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("0")" TValue="string"   >0) ไม่เป็น</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_1_1" TValue="string">*@
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("1")" TValue="string"   >1) เป็น</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_1_1" TValue="string">*@
</MatRadioGroup>
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<font color='red'>การพึ่งพาในกรณีที่ได้รับความเดือดร้อน (E1.3)</font>
<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_1_2" TValue="string">
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("1")" TValue="string"   >1) พึ่งได้มาก</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_1_2" TValue="string">*@
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("2")" TValue="string"   >2) พึ่งได้บ้าง</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_1_2" TValue="string">*@
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("3")" TValue="string"   >3) พึ่งไม่ได้เลย</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_1_2" TValue="string">*@
</MatRadioGroup>
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<font color='red'>ปัญหาในการเข้าร่วมกิจกรรมกลุ่ม (E1.4)</font>
<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_1_3" TValue="string">
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("0")" TValue="string"   >1) มี</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_1_3" TValue="string">*@
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("1")" TValue="string"   >2) ไม่มี</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_1_3" TValue="string">*@
</MatRadioGroup>
			<hr>

			<br>&nbsp;&nbsp;&nbsp 2) <font color='blue'>กลุ่มการเงิน (เช่น กองทุน กลุ่มออมทรัพย์) (E1.1)</font>
				<input type='button' value='reset' 
					onclick="
						document.getElementById('e1_2_10').checked=false;
						document.getElementById('e1_2_11').checked=false;
						document.getElementById('e1_2_21').checked=false;
						document.getElementById('e1_2_22').checked=false;
						document.getElementById('e1_2_23').checked=false;
						document.getElementById('e1_2_30').checked=false;
						document.getElementById('e1_2_31').checked=false;
				">
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<font color='red'>การเป็นสมาชิก (E1.2)</font>
<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_2_1" TValue="string">
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("0")" TValue="string"   >0) ไม่เป็น</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_2_1" TValue="string">*@
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("1")" TValue="string"   >1) เป็น</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_2_1" TValue="string">*@
</MatRadioGroup>
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<font color='red'>การพึ่งพาในกรณีที่ได้รับความเดือดร้อน (E1.3)</font>
<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_2_2" TValue="string">
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("1")" TValue="string"   >1) พึ่งได้มาก</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_2_2" TValue="string">*@
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("2")" TValue="string"   >2) พึ่งได้บ้าง</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_2_2" TValue="string">*@
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("3")" TValue="string"   >3) พึ่งไม่ได้เลย</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_2_2" TValue="string">*@
</MatRadioGroup>
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<font color='red'>ปัญหาในการเข้าร่วมกิจกรรมกลุ่ม (E1.4)</font>
<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_2_3" TValue="string">
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("0")" TValue="string"   >1) มี</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_2_3" TValue="string">*@
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("1")" TValue="string"   >2) ไม่มี</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_2_3" TValue="string">*@
</MatRadioGroup>
			<hr>

			<br>&nbsp;&nbsp;&nbsp 3) <font color='blue'>กลุ่มสวัสดิการสังคม (เช่น กลุ่มฌาปนกิจ กองทุนสวัสดิการชุมชน) (E1.1)</font>
				<input type='button' value='reset' 
					onclick="
						document.getElementById('e1_3_10').checked=false;
						document.getElementById('e1_3_11').checked=false;
						document.getElementById('e1_3_21').checked=false;
						document.getElementById('e1_3_22').checked=false;
						document.getElementById('e1_3_23').checked=false;
						document.getElementById('e1_3_30').checked=false;
						document.getElementById('e1_3_31').checked=false;
				">
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<font color='red'>การเป็นสมาชิก (E1.2)</font>
<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_3_1" TValue="string">
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("0")" TValue="string"   >0) ไม่เป็น</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_3_1" TValue="string">*@
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("1")" TValue="string"   >1) เป็น</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_3_1" TValue="string">*@
</MatRadioGroup>
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<font color='red'>การพึ่งพาในกรณีที่ได้รับความเดือดร้อน (E1.3)</font>
<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_3_2" TValue="string">
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("1")" TValue="string"   >1) พึ่งได้มาก</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_3_2" TValue="string">*@
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("2")" TValue="string"   >2) พึ่งได้บ้าง</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_3_2" TValue="string">*@
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("3")" TValue="string"   >3) พึ่งไม่ได้เลย</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_3_2" TValue="string">*@
</MatRadioGroup>
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<font color='red'>ปัญหาในการเข้าร่วมกิจกรรมกลุ่ม (E1.4)</font>
<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_3_3" TValue="string">
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("0")" TValue="string"   >1) มี</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_3_3" TValue="string">*@
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("1")" TValue="string"   >2) ไม่มี</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_3_3" TValue="string">*@
</MatRadioGroup>
			<hr>

			<br>&nbsp;&nbsp;&nbsp 4) <font color='blue'>กลุ่มด้านสังคม (เช่น กลุ่มเยาวชน กลุ่มผู้สูงอายุ กลุ่มสตรี/แม่บ้าน กลุ่มศาสนา) (E1.1)</font>
				<input type='button' value='reset' 
					onclick="
						document.getElementById('e1_4_10').checked=false;
						document.getElementById('e1_4_11').checked=false;
						document.getElementById('e1_4_21').checked=false;
						document.getElementById('e1_4_22').checked=false;
						document.getElementById('e1_4_23').checked=false;
						document.getElementById('e1_4_30').checked=false;
						document.getElementById('e1_4_31').checked=false;
				">
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<font color='red'>การเป็นสมาชิก (E1.2)</font>
<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_4_1" TValue="string">
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("0")" TValue="string"   >0) ไม่เป็น</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_4_1" TValue="string">*@
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("1")" TValue="string"   >1) เป็น</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_4_1" TValue="string">*@
</MatRadioGroup>
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<font color='red'>การพึ่งพาในกรณีที่ได้รับความเดือดร้อน (E1.3)</font>
<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_4_2" TValue="string">
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("1")" TValue="string"   >1) พึ่งได้มาก</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_4_2" TValue="string">*@
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("2")" TValue="string"   >2) พึ่งได้บ้าง</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_4_2" TValue="string">*@
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("3")" TValue="string"   >3) พึ่งไม่ได้เลย</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_4_2" TValue="string">*@
</MatRadioGroup>
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<font color='red'>ปัญหาในการเข้าร่วมกิจกรรมกลุ่ม (E1.4)</font>
<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_4_3" TValue="string">
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("0")" TValue="string"   >1) มี</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_4_3" TValue="string">*@
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("1")" TValue="string"   >2) ไม่มี</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_4_3" TValue="string">*@
</MatRadioGroup>
			<hr>

			<br>&nbsp;&nbsp;&nbsp 5) <font color='blue'>กลุ่มทรัพยากรธรรมชาติ (เช่น กลุ่มอนุรักษ์ฯ กลุ่มผู้ใช้น้ำ) (E1.1)</font>
				<input type='button' value='reset' 
					onclick="
						document.getElementById('e1_5_10').checked=false;
						document.getElementById('e1_5_11').checked=false;
						document.getElementById('e1_5_21').checked=false;
						document.getElementById('e1_5_22').checked=false;
						document.getElementById('e1_5_23').checked=false;
						document.getElementById('e1_5_30').checked=false;
						document.getElementById('e1_5_31').checked=false;
				">
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<font color='red'>การเป็นสมาชิก (E1.2)</font>
<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_5_1" TValue="string">
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("0")" TValue="string"   >0) ไม่เป็น</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_5_1" TValue="string">*@
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("1")" TValue="string"   >1) เป็น</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_5_1" TValue="string">*@
</MatRadioGroup>
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<font color='red'>การพึ่งพาในกรณีที่ได้รับความเดือดร้อน (E1.3)</font>
<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_5_2" TValue="string">
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("1")" TValue="string"   >1) พึ่งได้มาก</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_5_2" TValue="string">*@
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("2")" TValue="string"   >2) พึ่งได้บ้าง</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_5_2" TValue="string">*@
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("3")" TValue="string"   >3) พึ่งไม่ได้เลย</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_5_2" TValue="string">*@
</MatRadioGroup>
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<font color='red'>ปัญหาในการเข้าร่วมกิจกรรมกลุ่ม (E1.4)</font>
<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_5_3" TValue="string">
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("0")" TValue="string"   >1) มี</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_5_3" TValue="string">*@
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("1")" TValue="string"   >2) ไม่มี</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_5_3" TValue="string">*@
</MatRadioGroup>
			<hr>

			<br>&nbsp;&nbsp;&nbsp 6) <font color='blue'>กลุ่มอื่น ๆ (ระบุ)  (E1.1)</font><input type='text' name='e1_6_4'  @bind-value="@formData.surveyTemp.e1_6_4">
				<input type='button' value='reset' 
					onclick="
						this.form.e1_6_4.value='';
						document.getElementById('e1_6_10').checked=false;
						document.getElementById('e1_6_11').checked=false;
						document.getElementById('e1_6_21').checked=false;
						document.getElementById('e1_6_22').checked=false;
						document.getElementById('e1_6_23').checked=false;
						document.getElementById('e1_6_30').checked=false;
						document.getElementById('e1_6_31').checked=false;
				">
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<font color='red'>การเป็นสมาชิก (E1.2)</font>
<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_6_1" TValue="string">
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("0")" TValue="string"   >0) ไม่เป็น</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_6_1" TValue="string">*@
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("1")" TValue="string"   >1) เป็น</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_6_1" TValue="string">*@
</MatRadioGroup>
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<font color='red'>การพึ่งพาในกรณีที่ได้รับความเดือดร้อน (E1.3)</font>
<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_6_2" TValue="string">
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("1")" TValue="string"   >1) พึ่งได้มาก</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_6_2" TValue="string">*@
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("1")" TValue="string"   >2) พึ่งได้บ้าง</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_6_2" TValue="string">*@
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("3")" TValue="string"   >3) พึ่งไม่ได้เลย</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_6_2" TValue="string">*@
</MatRadioGroup>
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<font color='red'>ปัญหาในการเข้าร่วมกิจกรรมกลุ่ม (E1.4)</font>
<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_6_3" TValue="string">
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("0")" TValue="string"   >1) มี</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_6_3" TValue="string">*@
			<br>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;&nbsp<MatRadioButton Value="@("1")" TValue="string"   >2) ไม่มี</MatRadioButton>
@*<MatRadioGroup @bind-Value="@formData.surveyTemp.e1_6_3" TValue="string">*@
</MatRadioGroup>
			<hr>

		</td>
	</tr>
@*<?php
	$mysqli->close();
include('button2.php');
?>*@
</table>
@*</form>*@
 <br>
		<div class="row">
			<div class="col-lg-12  mb-3">
				<MatButton Raised="true" type="submit" >บันทึก @complete</MatButton>
				@{var txtLink="surveye2/"+@HC;}<MatButtonLink Href='@txtLink' Raised="true" Style="Default">ถัดไป</MatButtonLink>

			</div>
		</div>
</EditForm>@**@